/*.page-nav{grid-area: page-nav;}
.header{grid-area: header;}
.services{grid-area: services;}

.page{
    display: grid;
    grid-template-columns: 20px repeat(1fr, 3) 2fr;
    grid-template-areas:
    ". page-nav page-nav page-nav ."
    ". page-header page-header page-header ."
    ". header header header ."
    ". . sluzby . ." 
    ;
}


